/* Variables globales */
/* ------------------ */
$text-black: #0a0a0a;
$yellow: #f8fc0a;
$red: #fc0a0a;
$green: #25f025;
/* ------------------ */

/* Mixins */
/* ------ */
@mixin margenes($top, $bottom) {
  margin-top: $top;
  margin-bottom: $bottom;
}

@mixin margenesInternos($top, $bottom) {
  padding-top: $top;
  padding-bottom: $bottom;
}
/* ------ */

/* Estilos  */
/* .------- */
body {
  font-family: 'Open Sans', sans-serif;
}

.homepage {
  @include margenes(50px, 0px);
}

/* Section about */
section#about {
  @include margenes(150px, 0px);
}

@media (max-width:767px) {
  section#about {
    @include margenes(80px, 0px);
  }
}
/* Section about end */

/* Estilos de card */
.card{
  margin: 5% 0%;
}

.card-body{
  margin: 0% 0% 0% 3%;
  padding: 6% 0%;
}
/* fin estilos de cara */

div.col-sm-3 > p.h4 {
  color: darkblue;
}

.jumbotron {
  @include margenes(50px, 0px);
}

.site-footer {
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:12px;
  line-height:24px;
  color:#737373;
}

.site-footer hr {
  border-top-color:#bbb;
  opacity:0.5
}

.site-footer hr.small {
  margin:20px 0
}

.site-footer h6 {
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  @include margenes(5px, 0px);
  letter-spacing:2px
}

.site-footer a {
  color:#737373;
}

.site-footer a:hover {
  color:#3366cc;
  text-decoration:none;
}

.footer-links {
  padding-left:0;
  list-style:none
}

.footer-links li {
  display:block
}

.footer-links a {
  color:#737373
}

.footer-links a:active,.footer-links a:focus,.footer-links a:hover {
  color:#3366cc;
  text-decoration:none;
}

.footer-links.inline li {
  display:inline-block
}

.site-footer .social-icons {
  text-align:right
}

.site-footer .social-icons a {
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}

.copyright-text {
  margin:0
}

@media (max-width:991px) {
  .site-footer [class^=col-] {
    @include margenes(0px, 30px);
  }
}
@media (max-width:767px) {
  .site-footer {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons {
    text-align:center
  }
}

@media (max-width:767px) {
  .social-icons li.title {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

/* About page */
.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover, .social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}

.transparencia {
  @include margenes(50px, 0px);
}

.form-contact {
  padding-top: 80px;
}

/* accordeon */
.card-a {
  margin: 0% 0%;
}

.card-body-a {
  margin: 10px;
  padding: 0% 0%;
}
/* -------- */